# Ignore subfolders in data folder except chunks and annotations
data/movie_characters/
data/screenplay_data/
data/movie_metadata/

.venv
# Ignore Python cache files
__pycache__
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
# Ignore system files
.DS_Store